body, html{
	box-sizing: border-box;
	color: #222;
	font-family: 'Overlock', cursive;
	height: 100%;
	padding:0;
	margin:0;
	scroll-behavior: smooth;
}

a:link, a:hover, a:visited {
	color: #ddd;
	text-decoration: none;
}

header {
	left:0;
	margin:0;
	position:absolute;
}

nav {
	background-color: rgba(23,23,45,0.7);
	box-shadow: 0 10px 10px black;
	font-family: 'Fredoka One', cursive;
	height: 4rem;
	left:0;
	position:fixed;
	top:0;
	width:100vw;
	z-index: 1;
}

.logo {
	bottom: 0;
	position:absolute;
	top:0;
	width:20vw;
}

nav ul {
	bottom: 0;
	display:flex;
	justify-content: left;
	left:20vw;
	list-style: none;
	margin:0;
	position:absolute;
	right:0;
	top:0;
}

nav ul li {
	border:3px solid transparent;
	cursor: pointer;
	display:flex;
	font-size: medium;
	height: 100%;
	margin:0 1vw;
	padding:0 1rem;
	place-items:center;
	transition-duration: 300ms;
}

nav ul li:hover {
	background-color: black;
	border-top-color: gold;
	color:gold;
	transition-duration: 1s;
}

.container {
	position: relative;
}

.home {
	background-image: url("../img/home.jpg");
	background-attachment: fixed;
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}

.company-name {
	background-color: rgba(232,232,232,0.6);
	border-radius: 15px;
	bottom:11rem;
	left: 10vw;
	padding-right: 20rem;
	padding-left: 1rem;
	position:absolute;
}

.tag-line {
	bottom:10rem;
	left: 14vw;
	position:absolute;
}

.services {
	background-color: #222;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: gold;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 2rem;
	height: 50vh;
	min-height: 25rem;
	padding: 0 4rem;
}

.serv1,
.serv2,
.serv3 {
	cursor: pointer;
	margin: 3rem 0;
	position: relative;
}

.services a {
	background-color: #3498a8;
	box-shadow: 0 5px 10px black;
	bottom:2rem;
	padding:1rem;
}

.services a:hover {
	background-color: #1a6a77;
}

.service1,
.service2,
.service3 {
	background-color: #75ecff;
	border:10px solid #3498a8;
	bottom: 0;
	font-size: 1.5vw;
	padding:1rem;
	position: absolute;
	transform-style: preserve-3d;
	transition-duration: 1s;
	text-align: center;
	top:0;
}

.serv1:hover .service1 {
	transform: rotateY(180deg);
}

.serv2:hover .service2 {
	transform: rotateY(180deg);
}

.serv3:hover .service3 {
	transform: rotateY(180deg);
}

.front,
.back {
	backface-visibility: hidden;
}

.front{
	color: #444;
	transform: translateZ(50px);
}

.back {
	background-color: #75ecff;
	transform:rotateY(180deg);
}

.icon1 {
	background-image: url("../img/designicon.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 20vh;
	position: absolute;
	width: 100%;
}

.icon2 {
	background-image: url("../img/planicon.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 20vh;
	position: absolute;
	width: 100%;
}

.icon3 {
	background-image: url("../img/buildicon.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 20vh;
	position: absolute;
	width: 100%;
}

.AboutUs {
	background-image: url("../img/vision.jpg");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: gold;
	height: 40vh;
	min-height: 40rem;
}

.mission {
	bottom:20rem;
	font-size: 1.5vw;
	left:5rem;
	position:absolute;
	width:50vw;
}

.vision {
	bottom:10rem;
	font-size: 1.5vw;
	position:absolute;
	right:5rem;
	width:50vw;
}

.Testimonials {
	background-color: #222;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: gold;
	color:#fff;
	height: 40vh;
	min-height: 18rem;
	overflow-x: hidden;
	padding: 0 4rem;
}

.cprev,
.cnext {
	bottom: 0;
	cursor: pointer;
	display: flex;
	font-size: 5vw;
	place-items: center;
	position:absolute;
	top:0;
}

.cnext {
	right:0;
}

.cprev {
	left:0;
}

.cprev:hover, .cnext:hover {
	background-color: rgba(200,200,200,0.6);
}

.item1,
.item2,
.item3 {
	bottom: 0;
	font-size: 2vw;
	left:0;
	padding:8%;
	position: absolute;
	right:0;
	transition: opacity 1s ease-in;
	top:0;
}

.item1h,
.item2h,
.item3h {
	opacity: 0;
}

.carousel h3{
	position: relative;
	text-align: center;
	width:100%;
}

.carousel p{
	position: relative;
	text-align: center;
	width:100%;
}

.ContactUs {
	background-image: url("../img/contact.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: gold;
	font-size: 1.5vw;
	height: 60vh;
	min-height: 25rem;
}

.ContactUs h4 {
	margin:0;
}

.inputName,
.inputEmail,
.inputPhone,
.inputMsg {
	left:10vw;
	position:absolute;
}

.inputName {
	top:3vh;
}

.inputEmail {
	top:11vh;
}

.inputPhone {
	top:18vh;
}

.inputMsg {
	top:26vh;
}

.inputMsg input {
	height:8rem;
	width:20rem;
}

button {
	background-color: #008CBA;border: none;
	color: white;
	display: inline-block;
	font-size: 16px;
	margin-top: 5px;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
}

footer {
	background-color: #222;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: gold;
	color: #fff;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 2rem;
	height: 10rem;
	padding: 0 2rem;
}

.team1 {
	background-image: url("../img/cad.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	display:flex;
	height: 60vh;
	min-height: 30rem;
	place-items:center;
}

.team1 h2 {
	background-color: rgba(27,27,12,0.6);
	border:3px solid transparent;
	border-radius: 5px;
	color:#fff;
	font-size: 3vw;
	margin:0 40%;
	padding:1rem
	position: absolute;
	text-align: center;
}

.designP {
	background-color: #222;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: gold;
	color:#fff;
	height: 20vh;
	min-height: 10rem;
}

.designP p {
	padding:2rem 10rem;
	text-align: center;
}

.team2 {
	background-image: url("../img/plan.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: gold;
	display:flex;
	height: 60vh;
	min-height: 30rem;
	place-items:center;
}

.team2 h2 {
	background-color: rgba(27,27,12,0.6);
	border:3px solid transparent;
	border-radius: 5px;
	color:#fff;
	font-size: 3vw;
	margin:0 40%;
	padding:1rem
	position: absolute;
	text-align: center;
}

.planP {
	background-color: #222;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: gold;
	color:#fff;
	height: 20vh;
	min-height: 10rem;
}

.planP p {
	padding:0 10rem;
	text-align: left;
}

.team3 {
	background-image: url("../img/const.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: gold;
	display:flex;
	height: 60vh;
	min-height: 30rem;
	place-items:center;
}

.team3 h2 {
	background-color: rgba(27,27,12,0.6);
	border:3px solid transparent;
	border-radius: 5px;
	color:#fff;
	font-size: 3vw;
	margin:0 40%;
	position: absolute;
	padding:1rem
	text-align: center;
}

.buildP {
	background-color: #fff;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: gold;
	color:#222;
	height: 20vh;
	min-height: 10rem;
}

.buildP p {
	padding:2rem 10rem;
	text-align: center;
}

@media only screen and (max-width: 780px) {
	nav ul li {
		font-size: small;
	}
}

@media screen and (max-width: 640px) {
	nav .navlist {
		display:block;
		left:-300px;
		position: absolute;
		transform: translateX(-150vw);
		transition-duration: 1s;
		top:4rem;
		width:40vw;
	}
	nav .navlist.appear {
		transform: translateX(135vw);
		transition-duration: 1s;		
	}
	nav ul li{
		background-color: rgba(27,27,12,0.6);
		min-height: 2rem;
		right:0;
	}
	.nav2 {
		display: grid;
		grid-template-columns: 1fr;
		grid-row-gap: 2px;
		height: 2.3rem;
		justify-content: right;
		margin-left:80vw;
		position:fixed;
		padding:1rem;
		width: 10vw;
	}
	.nav2:hover {
		cursor: pointer;
	}
	.nav2 .menu-bar {
		background-color: gold;
		border:1px solid gold;
		height: 2px;
		transition-duration: 200ms;
		width: 2rem;
	}
	.nav .menu-bar.x1 {
		bottom:0;
		left:15px;
		position: absolute;
	}
	.nav2 .menu-bar.x2 {
		background-color: red;
		border:1px solid red;
		left:16px;		
		position: absolute;
		transform:rotate(35deg);
		transition-duration: 1s;
		top:30px;
	}
	.nav2 .menu-bar.x3 {
		background-color: red;
		border:1px solid red;
		left:16px;	
		position: absolute;
		transform:rotate(-35deg);
		transition-duration: 1s;	
		top:30px;
	}
	.company-name {
		left: 5vw;
		padding: 0;
		text-align: center;
		width:90vw;
	}
	.tag-line {
		left:10vw;
		text-align: center;
	}
	.services {
		grid-template-columns: 1fr;
		grid-row-gap: 10px;
		height:200vh;
	}
	.service1,
	.service2,
	.service3 {
		font-size: 5vw;
	}
	.AboutUs {
		height: 80vh;
		min-height: 20rem;
	}
	.mission {
		bottom:40vh;
		font-size: 4vw;
		left:5vw;
		width:90vw;
	}
	.vision {
		bottom:10vh;
		font-size: 4vw;
		left:5vw;
		width:90vw;
	}
	.item1,
	.item2,
	.item3 {
		font-size: 5vw;
	}
	.cprev,
	.cnext {
		font-size: 15vw;
	}
	.ContactUs {
		font-size: 5vw;
	}
	.inputMsg input {
		width:18rem;
	}

	.inputName {
		top:3vh;
	}

	.inputEmail {
		top:11vh;
	}

	.inputPhone {
		top:20vh;
	}

	.inputMsg {
		top:28vh;
	}
	footer {
		grid-template-columns: 1fr;
		grid-row-gap: 5px;
		height: 50vh;
	}
	.team1 {
		background-image: url("../img/cad1.jpg");
	}
	.team1 h2 {
		font-size: 5vw;
		margin:0 15%;
		padding:0 20vw;
	}	
	.designP p {
		padding:2px;
	}
	.team2 h2 {
		font-size: 5vw;
		margin:0 15%;
		padding:0 20vw;
	}
	.planP {
		height: 50vh;
	}
	.planP p {
		padding:10px;
	}
	.team3 h2 {
		font-size: 5vw;
		margin:0 15%;
		padding:0 20vw;
	}
	.buildP {

	}
	.buildP p{		
		padding:10px;
	}
}

@media screen and (max-height: 360px) {
	nav .navlist {
		width:25vw;
	}
	nav .navlist.appear {
		transform: translateX(120vw);
	}
	.nav2 {
		margin-left: 90vw;
	}
	.company-name {
		left: 5vw;
		padding: 0;
		text-align: center;
		width:90vw;
	}
	.tag-line {
		left:5vw;
		text-align: center;
		width:90vw;
	}
	.services {
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 10px;
		height:50vh;
	}
	.service1,
	.service2,
	.service3 {
		font-size: 2vw;
	}
	.AboutUs {
		height: 80vh;
		min-height: 20rem;
	}
	.mission {
		bottom:40vh;
		font-size: 2.5vw;
		left:5vw;
		width:90vw;
	}
	.vision {
		bottom:10vh;
		font-size: 2.5vw;
		left:5vw;
		width:90vw;
	}
	.item1,
	.item2,
	.item3 {
		font-size: 3vw;
	}
	.cprev,
	.cnext {
		font-size: 15vw;
	}
	.ContactUs {
		font-size: 3vw;
	}
	.inputMsg input {
		width:18rem;
	}

	.inputName {
		top:3vh;
	}

	.inputEmail {
		top:18vh;
	}

	.inputPhone {
		top:33vh;
	}

	.inputMsg {
		top:48vh;
	}
	footer {
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 5px;
		height: 40vh;
	}
	.planP {
		height: 80vh;
	}
}